
# My private files
_private

# Exclude environment files
.venv
.env
.vscode
.env.local

# Ignore build directories
/build
/dist

# Data
database/

# Exclude all log files
*.log

# Dev Containers
images/

# Caches
*cache*
__pycache__/
*.py[cod]

### OSX ###
.DS_Store