services:
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.dev
    container_name: app
    working_dir: /workspace

    volumes:
      - .:/workspace:cached
      - /opt/venv
      - ./_data:/data
      - ./_lake:/lake

    environment:
      - PYTHONUNBUFFERED=1

    # Keep container alive for Dev Containers to attach reliably
    command: sleep infinity
    # command: bash -lc "python src/main.py" && sleep infinity

volumes:
  venv:
  uvcache:
